<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlabs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".currency.CurrencyMain" />
        <activity android:name=".ElectricCarFinder" />
        <activity android:name=".CarDatabaseHelper" />
        <activity android:name=".CarSearchObject" />
        <activity android:name=".CarSearchDetailFragment" />
        <activity android:name=".CarEmptyActivity" />
        <activity android:name=".CarFavoritesList" />
        <activity android:name=".CarFavEmpty" />
        <activity android:name=".CarFavDetailFragment" />
        <activity android:name=".NewsHeadlines" />
        <activity android:name=".RecipeSearch" />
        <activity android:name=".currency.CurrencyConverter" />
        <activity android:name=".currency.EmptyActivity" />
    </application>

</manifest>